<div ng-controller="topicsController" data-ng-init="registerListeners()">
  <form id="add-topic-form">
    <fieldset>
      <div class="form-group">
        <div class="topic-input-group input-group">
           <input type="text" class="form-control topic-input input-lg" id="inputEmail" placeholder=""></input>
           <span class="input-group-btn">
             <button type="submit" class="btn btn-primary topic-input-btn"><i class="submit-icon mdi-content-add"></i></button>
           </span>
         </div>
      </div>
    </fieldset>
  </form>
  <div class="page-body p-topics list-group">
    <div data-ng-repeat="topic in topics">
      <div class="list-group-item topic-row vcenter" ng-click="openTopic(topic.id, topic.topic)">
        <div class="row-content shrunken">
          <div ng-if="topic.id !== -1" class="least-content">
             <span class="chevron-badge mdi-navigation-chevron-right"></span>
          </div>
          <span class="list-group-item-heading {{ topicId === -1 ? 'list-group-item-heading-bare' : '' }}">{{ topic.topic }}</span>
        </div>
      </div>
      <div class="list-group-separator"></div>
    </div>
  </div>
</div>
