/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html {
  height: 100%;
  width: 100%;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    min-height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.vcenter {
    display: flex;
    align-items: center;
}

.page.ng-enter,
.page.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.page.ng-enter {
  z-index: 100;
  opacity: 0;
}
.page.ng-enter.ng-enter-active {
  opacity: 1;
}
.page.ng-leave {
  z-index: 101;
  opacity: 1;
}
.page.ng-leave.ng-leave-active {
  opacity: 0;
}

.page {
  min-height: 100%;
  background: inherit;
  padding-bottom: 72px;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.footer {
  height:72px;
  background-color: #FFFFFF;
}

.text-center {
  text-align: center;
}

.fill-height {
  height: 100%;
}

.nav-button-container {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

/* from paper-dialogue.css
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
*/

.nav-button {
  padding: 4px;
  margin: 5px;
  width: 100%;
}

.nav-icon {
  font-size: 30px;
}

.nav-label {
  font-size: 9px;
}

/* feed */
.article {
  height: 96px;
  border-bottom: solid 1px black;
  vertical-align: middle;
}

.timestamp {
  text-transform: none
}

.list-group-item a {
  text-decoration: none;
  color: black;
}

.list-group-separator::before {
  width: 100% !important;
}

.article-title {
  text-transform: none;
}

/* topics */
.topic-input {
  margin-top: 12px;
  font-size: 24px !important;
  height: 42px !important;
}

.topic-row {
  width: 100% !important;
  text-transform: none;
}

.delete-button {
  font-size:24px;
}

.chevron {
  font-size: 24px;
  float: right;
}
